%thead
  %td Mã sinh viên        
  %td Họ đệm
  %td Tên
  %td Nhóm
  - if can? :manage, LopMonHocSinhVien
    %td Xóa
- @lop_mon_hoc_sinh_viens.each do |lop_mon_hoc_sinh_vien|
  %tr{:id => lop_mon_hoc_sinh_vien.ma_sinh_vien}
    %td= lop_mon_hoc_sinh_vien.ma_sinh_vien
    %td= lop_mon_hoc_sinh_vien.ho + " " +(lop_mon_hoc_sinh_vien.ho_dem || "")
    %td= lop_mon_hoc_sinh_vien.ten
    %td.col= collection_select("nhom",lop_mon_hoc_sinh_vien.ma_sinh_vien,  @groups_arrays, :first, :last, {:selected => selected(lop_mon_hoc_sinh_vien)},{:class => "combobox"})
    - if can? :manage, LopMonHocSinhVien
      %td= link_to 'Xóa', [@lop_mon_hoc, lop_mon_hoc_sinh_vien], :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' }