

.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls            
            %li= link_to "Thông tin chung", lop_mon_hoc_path(@lop_mon_hoc.id)           
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"} 
                Điểm
                %b.caret
              %ul.dropdown-menu
                - if @lop_mon_hoc.get_thuc_hanh
                  %li= link_to "Điểm nhóm thực hành", lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id) + "/2"
                %li= link_to "Điểm chuyên cần", lop_mon_hoc_diem_chuyen_cans_path(@lop_mon_hoc.id)         
                %li= link_to "Điểm kiểm tra thực hành", lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id)
            %li.dropdown.active
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"} 
                - if can? :manage, @lop_mon_hoc
                  Quản lý
                - elsif can? :read, @lop_mon_hoc
                  Tiện ích
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Thông báo", lop_mon_hoc_thong_bao_lop_hocs_path(@lop_mon_hoc.id)   
                %li= link_to "Diễn đàn", lop_mon_hoc_topics_path(@lop_mon_hoc.id)                
                %li.active= link_to "Quản lý lớp học", lop_mon_hoc_lop_mon_hoc_sinh_viens_path(@lop_mon_hoc.id)
                %li= link_to "Thời khóa biểu", lop_mon_hoc_path(@lop_mon_hoc.id)+'/calendar'
            
          %ul.nav.pull-right            
            %li= link_to 'Đăng xuất', destroy_user_session_path
              

.container-fluid{:style=>"margin-top: 4%;"}   
  
  - if can? :manage, @lop_mon_hoc
    = form_tag lop_mon_hoc_path(@lop_mon_hoc.id), :method => :put, :remote => true do 

      .well.sidebar-nav.of{:style => "font-size: 12px;"}    
        %h4 Thiết lập thông số lớp môn học
        
        = text_field_tag :so_nhom, @lop_mon_hoc.group, :placeholder => 'Số nhóm thực hành'
        %span  nhóm thực hành, bài tập lớn, đồ án môn học
        %br
        
        = text_field_tag :so_lan_kt, @lop_mon_hoc.so_lan_kt, :placeholder => 'Số lần kiểm tra thường xuyên'     

        %span lần kiểm tra thường xuyên (Tối đa 5 đầu điểm)
        %br

        = check_box_tag :thuc_hanh, nil, @lop_mon_hoc.get_thuc_hanh
        %span Có đầu điểm thực hành? 
        %br
        %br
        = submit_tag "Thiết lập", :class => "btn" 

        - if can? :manage, LopMonHocSinhVien
          %ul.nav.pull-right
            %li
              = link_to 'Thêm sinh viên vào lớp', new_lop_mon_hoc_lop_mon_hoc_sinh_vien_path(@lop_mon_hoc), :class => 'btn'

    = form_tag groupupdate_lop_mon_hoc_lop_mon_hoc_sinh_viens_path(@lop_mon_hoc.id), :method => :post, :remote => true do         
      %ul.nav.pull-right
        %li= submit_tag "Cập nhật danh sách nhóm thực hành", :class => "btn btn-primary" 
      %table#dssv{:class => "table datatable"}    
        = render 'table1'

      %br

  - elsif can? :read, @lop_mon_hoc
    %table#dssv{:class => "table datatable"}    
      = render 'table2'