%colgroup
  %col{:style => "width: 3%"}
  %col{:style => "width: 17%"}
  %col{:style => "width: 7%"}
  %col{:style => "width: 25%"}                    
  %col{:style => "width: 8%"}                    
  %col{:style => "width: 15%"}    
  %col{:style => "width: 15%"} 
  %col{:style => "width: 10%"}         
%thead
  %td STT
  %td Giảng viên
  %td Mã lớp
  %td Môn học
  %td Phòng
  %td Khối lượng thực hiện
  %td Khối lượng phân bổ
  %td Xuất
%tbody
  - if @results and @results.count > 0
    - @results.each_with_index do |lop, index|
      - if lop.giang_vien
        %tr
          %td= (index+1).to_s
          %td= link_to lop.ten_giang_vien, giang_vien_path(lop.ma_giang_vien)
          %td= link_to lop.ma_lop, report_lop_mon_hoc_path(lop.id)
          %td= lop.ten_mon_hoc 
          %td= (link_to lop.phong_hoc, phong_path(lop.phong_hoc) if lop.phong_hoc) || ""
          %td= lop.khoi_luong.to_s
          %td= (lop.so_tiet_phan_bo || lop.khoi_luong_phan_bo)
          %td= link_to "Xuất ra Excel", search_lop_mon_hoc_path(lop.id) + ".xlsx"