%h1 Welcome Lops
what the fact
%table{:class => "table"}
  %thead
    %td Ma Lop
    %td Ma Mon     
    %td ID 
  %tbody
    - @current_lops.each do |lop|
      %tr
        %td= lop.ma_lop
        %td= lop.ma_mon_hoc
        %td= link_to lop.id, lop          


%ul= @stt.to_s
- @tuans.each do |tuan|
  %li= link_to tuan[:time][0].strftime("%Y-%m-%d-%H-%M"), lop_mon_hoc_buoihoc_path(tuan[:lop].id.to_s,  tuan[:time][0].strftime("%Y-%m-%d-%H-%M"))

%div= link_to "prev", showdashboard_path(@stt-1) if @stt and @stt > 1
%div= link_to "next", showdashboard_path(@stt+1) if @stt

