               
.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          - if can? :read, SinhVien
            %ul.nav.pull-left#urls
              %li= link_to "Thời khóa biểu", "/calendar"
              %li= link_to "Thăm dò", "http://thamdo.hpu.edu.vn"
              - if (can? :manage, LopMonHocSinhVien and can? :manage, LichTrinhGiangDay) or (can? :quanly, SinhVien) or (can? :qlthanhtra, GiangVien)
                %li= link_to "Quản lý", "/quanly"  
              - if (can? :thanhtra, GiangVien)
                %li= link_to "Thanh tra", "/thanhtra"
              - if (can? :quanly, SinhVien)
                %li= link_to "Trực nhật", "/trucnhat"
              - if can? :manage, :all
                %li= link_to "Quản trị", "/admin"
          %ul.nav.pull-right
            %li= link_to 'Đăng xuất', destroy_user_session_path  

.container-fluid{:style=>"margin-top: 4%;"}
  .row-fluid    
    = form_tag search_path, :method => :get, :class => "form-search" do    
      = select_tag "type", "<option value='1' selected=#{'selected' if params[:type]=='1'}>Sinh viên</option><option value='2' selected=#{'selected' if params[:type]=='2'}>Lớp môn học</option>".html_safe, :class => "multiselect", :placeholder => "Tìm theo sinh viên, giảng viên, lớp học,..."   
      %input.input-large.search-query{:type => "text", :name => "search"}
      %button.btn{:type => "submit"} Tra cứu
  .row-fluid
    %ul.nav.pull-right
      %li
        %i
          %strong
            %span= current_user.fullname

      %li
        %i
          %span= "Tuần #{@current_week}: Từ ngày #{@week.tu_ngay.localtime.mday}/#{@week.tu_ngay.localtime.mon}, đến ngày #{@week.den_ngay.localtime.mday}/#{@week.den_ngay.localtime.mon}"     

  - if @lichbus.count > 0
    %h5 Lịch dạy bù
    %table{:class => "table table-bordered"}
      %thead    
        %td Tuần    
        %td Thời gian 
        %td Ngày gốc
        %td Số tiết      
        %td Phòng    
        %td Môn
        %td Mã lớp
      %tbody
        - @lichbus.each_with_index do |lich, index|
          %tr
            %td= link_to "T"  + (("0" if lich.tuan < 10) || "") +lich.tuan.to_s, tuan_path(lich.tuan.to_s)
            %td= link_to TkbGiangVien::THU2[lich.ngay_day_moi.localtime.wday + 1] + ", ngày " +lich.ngay_day_moi.localtime.strftime("%d/%m") + ", " + lich.ngay_day_moi.localtime.strftime("%Hh:%M") , lop_mon_hoc_buoihoc_path(lich.lop_mon_hoc_id, lich.ngay_day.localtime.strftime("%Y-%m-%d-%H-%M"))
            %td= TkbGiangVien::THU2[lich.ngay_day.localtime.wday + 1] + ", ngày " +lich.ngay_day.localtime.strftime("%d/%m") + ", " + lich.ngay_day.localtime.strftime("%Hh:%M")
            %td= lich.so_tiet_day
            %td= lich.phong_moi
            %td= lich.lop_mon_hoc.ten_mon_hoc
            %td= lich.lop_mon_hoc.ma_lop

  - if @current_lich and @current_lich.count > 0
    %h4 Các lớp chính trong tuần
    %table{:class => "table table-bordered datatable"}
      %colgroup
        %col{:style => "width: 40%"}
        %col{:style => "width: 10%"}
        %col{:style => "width: 10%"} 
        %col{:style => "width: 25%"} 
        %col{:style => "width: 15%"} 
      %thead          
        %td Thời gian
        %td Số tiết     
        %td Phòng    
        %td Môn
        %td Mã lớp
      %tbody      
        - @current_lich.each_with_index do |lich, index|
          %tr                 
            %td{:style => "background: ##{@color_map["#{lich["ma_lop"]}-#{lich["ma_mon_hoc"]}"]}; color: ##{@color_map[DateTime.parse(lich["time"][0]).strftime("%Y-%m-%d-%H:%M")]}" }= link_to TkbGiangVien::THU2[lich["thu"]] + ", ngày " + DateTime.parse(lich["time"][0]).strftime("%d/%m") + ", " + DateTime.parse(lich["time"][0]).strftime("%Hh:%M") , lop_mon_hoc_buoihoc_path(lich["lop"], DateTime.parse(lich["time"][0]).strftime("%Y-%m-%d-%H-%M")), :style => "color: ##{@color_map[DateTime.parse(lich["time"][0]).strftime("%Y-%m-%d-%H:%M")]}", :rel => "tooltip", :'data-original-title' => "#{@info[DateTime.parse(lich["time"][0]).strftime("%Y-%m-%d-%H:%M")]}"
            %td{:style => "background: ##{@color_map["#{lich["ma_lop"]}-#{lich["ma_mon_hoc"]}"]}" }= lich["so_tiet"]             
            %td{:style => "background: ##{@color_map["#{lich["ma_lop"]}-#{lich["ma_mon_hoc"]}"]}" }= lich["phong"]                 
            %td{:style => "background: ##{@color_map["#{lich["ma_lop"]}-#{lich["ma_mon_hoc"]}"]}" }= lich["ten_mon_hoc"]
            %td{:style => "background: ##{@color_map["#{lich["ma_lop"]}-#{lich["ma_mon_hoc"]}"]}" }= link_to lich["ma_lop"], lop_mon_hoc_path(lich["lop"])
  
  - if @current_lich2 and @current_lich2.count > 0
    %h4 Các lớp trợ giảng trong tuần
    %table{:class => "table table-bordered datatable"}
      %colgroup
        %col{:style => "width: 40%"}
        %col{:style => "width: 10%"}
        %col{:style => "width: 10%"} 
        %col{:style => "width: 25%"} 
        %col{:style => "width: 15%"} 
      %thead          
        %td Thời gian
        %td Số tiết     
        %td Phòng    
        %td Môn
        %td Mã lớp
      %tbody      
        - @current_lich2.each_with_index do |lich2, index|
          %tr                 
            %td{:style => "background: ##{@color_map2["#{lich2["ma_lop"]}-#{lich2["ma_mon_hoc"]}"]}" }= link_to TkbGiangVien::THU2[lich2["thu"]] + ", ngày " + DateTime.parse(lich2["time"][0]).strftime("%d/%m") + ", " + DateTime.parse(lich2["time"][0]).strftime("%Hh:%M") , lop_mon_hoc_buoihoc_path(lich2["lop"], DateTime.parse(lich2["time"][0]).strftime("%Y-%m-%d-%H-%M")), :style => "color: ##{@color_map2[DateTime.parse(lich2["time"][0]).strftime("%Y-%m-%d-%H:%M")]}", :rel => "tooltip", :'data-original-title' => "#{@info2[DateTime.parse(lich2["time"][0]).strftime("%Y-%m-%d-%H:%M")]}"
            %td{:style => "background: ##{@color_map2["#{lich2["ma_lop"]}-#{lich2["ma_mon_hoc"]}"]}" }= lich2["so_tiet"]             
            %td{:style => "background: ##{@color_map2["#{lich2["ma_lop"]}-#{lich2["ma_mon_hoc"]}"]}" }= lich2["phong"]                 
            %td{:style => "background: ##{@color_map2["#{lich2["ma_lop"]}-#{lich2["ma_mon_hoc"]}"]}" }= lich2["ten_mon_hoc"]
            %td{:style => "background: ##{@color_map2["#{lich2["ma_lop"]}-#{lich2["ma_mon_hoc"]}"]}" }= link_to lich2["ma_lop"], lop_mon_hoc_path(lich2["lop"]) 
