%table.table.table-bordered.table-condensed.table-hover.table-striped.datatable  
  %thead    
    %td STT
    %td Thời gian
    %td Lớp
    %td Môn
    %td Giảng viên
    %td Phòng
    %td Tình trạng
    %td Người duyệt
  %tbody    
    - @lichs2.each_with_index do |lich, index|
      - if lich.lop_mon_hoc
        %tr
          %td= (index+1).to_s
          %td= format_date(lich.ngay_day.localtime)
          %td= lich.lop_mon_hoc.ma_lop
          %td= lich.lop_mon_hoc.ten_mon_hoc
          %td= lich.lop_mon_hoc.giang_vien
          %td= lich.phong
          %td= (lich.status == 3 ? "Đã duyệt" : "Chưa duyệt")
          %td= (lich.nguoi_duyet ? lich.nguoi_duyet.username : "")