%table.table.table-bordered.table-condensed.table-hover.table-striped.datatable  
  %thead    
    %td STT
    %td Thời gian
    %td Lớp
    %td Môn
    %td Giảng viên
    %td Lí do
    %td Đồng ý
    %td Không đồng ý
  %tbody    
    - @lichs.each_with_index do |lich, index|
      - if lich.lop_mon_hoc
        %tr
          %td= (index+1).to_s
          %td= format_date(lich.ngay_day.localtime)
          %td= lich.lop_mon_hoc.ma_lop
          %td= lich.lop_mon_hoc.ten_mon_hoc
          %td= lich.lop_mon_hoc.giang_vien
          %td= lich.note
          %td= radio_button_tag "nghiday[#{lich.id}]", true, false
          %td= radio_button_tag "nghiday[#{lich.id}]", false, false
