%table.table.table-bordered.table-condensed.table-hover.table-striped#monitor
  %colgroup
    %col{:style => "width: 4%"}
    %col{:style => "width: 24%"}
    %col{:style => "width: 24%"}
    %col{:style => "width: 24%"}            
    %col{:style => "width: 24%"}      
  %thead        
    %td Phòng
    %td Ca 1
    %td Ca 2
    %td Ca 3
    %td Ca 4    
  %tbody        
    - @phongtrong.each do |k,v|
      %tr        
        %td= k.to_s        
        %td{:style => ( ca_trong(v,1)[:res] ?  "background-color: #d0e9c6;":  "background-color: #ebcccc;" ) }= raw(ca_trong(v, 1)[:val])
        %td{:style => ( ca_trong(v,2)[:res] ?  "background-color: #d0e9c6;":  "background-color: #ebcccc;" ) }= raw(ca_trong(v, 2)[:val])
        %td{:style => ( ca_trong(v,3)[:res] ?  "background-color: #d0e9c6;":  "background-color: #ebcccc;" ) }= raw(ca_trong(v, 3)[:val])
        %td{:style => ( ca_trong(v,4)[:res] ?  "background-color: #d0e9c6;":  "background-color: #ebcccc;" ) }= raw(ca_trong(v, 4)[:val])

:javascript
  $('#monitor').dataTable({"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>","sPaginationType": "bootstrap","bStateSave":true,"bAutoWidth":true,"sScrollY": "400px","iDisplayLength": 100});