%thead
  %td STT    
  %td Mã sinh viên
  %td Họ và tên  
  %td Mã lớp      
  %td Tên môn học
  %td Tên giảng viên     
  %td Số tiết vắng
  %td Ngày dạy
%tbody
  - if @res.count > 0        
    - @res.each_with_index do |res, index|
      %tr
        %td= (index+1).to_s
        %td= link_to res["ma_sinh_vien"], sinh_vien_path(res["ma_sinh_vien"])
        %td= (res["ho"] || "") + (res["ho_dem"] ? " " + res["ho_dem"] + " " : " ") + (res["ten"] || "")        
        %td= link_to res["ma_lop"], report_lop_mon_hoc_path(res["id"])
        %td= res["ten_mon_hoc"]            
        %td= link_to res["ten_giang_vien"], giang_vien_path(res["ma_giang_vien"])
        %td= res["so_tiet_vang"]
        %td= res["ngay_day"]