%thead
  %td STT    
  %td Mã sinh viên
  %td Họ
  %td Họ đệm
  %td Tên  
  %td Mã lớp      
  %td Mã môn học
  %td Tên môn học
  %td Tên giảng viên       
  %td Tổng số tiết vắng  
%tbody
  - if @res.count > 0        
    - @res.each_with_index do |res, index|
      %tr
        %td= (index+1).to_s
        %td= res.ma_sinh_vien
        %td= res.ho
        %td= res.ho_dem
        %td= res.ten        
        %td= res.ma_lop
        %td= res.ma_mon_hoc
        %td= res.ten_mon_hoc
        %td= res.ten_giang_vien        
        %td= res.tongtietvang        