- if @dupsv and @dupsv.count > 0
  %h6 Các sinh viên đã có trong danh sách lớp
  %table#info.table.table-bordered.table-condensed.table-hover.table-striped
    %colgroup
      %col{:style => "width: 5%"}
      %col{:style => "width: 25%"}
      %col{:style => "width: 40%"}            
      %col{:style => "width: 25%"}  
      %col{:style => "width: 5%"}  
    %thead
      %td Chọn
      %td Mã sinh viên
      %td Họ đệm
      %td Tên      
      %td Tín chỉ ?    
    %tbody
      - @dupsv.each do |sv|
        %tr
          %td= check_box_tag "msv[#{sv.ma_sinh_vien}]",nil, false, :disabled => true
          %td= sv.ma_sinh_vien
          %td= sv.ho_dem || ""
          %td= sv.ten
          %td= sv.tin_chi?
- if @dupcalendar and @dupcalendar.count > 0
  %h6 Các sinh viên bị trùng lịch
  %table#info2.table.table-bordered.table-condensed.table-hover.table-striped
    %colgroup
      %col{:style => "width: 5%"}
      %col{:style => "width: 25%"}
      %col{:style => "width: 40%"}            
      %col{:style => "width: 25%"}  
      %col{:style => "width: 5%"}  
    %thead
      %td Chọn
      %td Mã sinh viên
      %td Họ đệm
      %td Tên 
      %td Tín chỉ?                        
    %tbody
      - @dupcalendar.each do |sv|
        %tr{:id => sv.ma_sinh_vien}
          %td= check_box_tag "msv[#{sv.ma_sinh_vien}]",nil, false
          %td= sv.ma_sinh_vien
          %td= sv.ho_dem || ""
          %td= sv.ten      
          %td = sv.tin_chi?    
- if @goodsv and @goodsv.count > 0
  %h6 Các sinh viên hợp lệ
  %table#info2.table.table-bordered.table-condensed.table-hover.table-striped.datatable
    %colgroup   
      %col{:style => "width: 10%"}   
      %col{:style => "width: 20%"}
      %col{:style => "width: 40%"}            
      %col{:style => "width: 25%"}  
      %col{:style => "width: 5%"} 
    %thead     
      %td Trạng thái 
      %td Mã sinh viên
      %td Họ đệm
      %td Tên      
      %td Tín chỉ?                   
    %tbody
      - @goodsv.each do |sv|
        %tr{:id => sv.ma_sinh_vien}
          %td= check_box_tag "msv[#{sv.ma_sinh_vien}]",nil, true
          %td= sv.ma_sinh_vien
          %td= sv.ho_dem || ""
          %td= sv.ten    
          %td= sv.tin_chi?
- if (@dupcalendar and @dupcalendar.count > 0) or (@goodsv and @goodsv.count > 0)
  .row-fluid
    .span4.offset5= submit_tag "Chuyển sinh viên", :class => "btn btn-primary", :name => :movesv, :id => :movesv                 
:javascript
  $('.datatable').dataTable({"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>","sPaginationType": "bootstrap","bStateSave":true,"bAutoWidth":true,"bSort": false,"sScrollY": "200px"});        