%table#loptc.table.table-bordered.table-condensed.table-hover.table-striped
  %colgroup
    %col{:style => "width: 5%"}
    %col{:style => "width: 5%"}
    %col{:style => "width: 25%"}
    %col{:style => "width: 35%"}            
    %col{:style => "width: 25%"}  
    %col{:style => "width: 5%"}  
  %thead
    %td STT
    %td Chọn
    %td Mã sinh viên
    %td Họ đệm
    %td Tên      
    %td Tín chỉ                  
  %tbody
    - if @svs and @svs.count > 0
      - @svs.each_with_index do |sv, index|
        %tr{:class => ("warning" if sv.lop_ghep == true)}
          %td= (index+1).to_s
          %td= check_box_tag "msv[#{sv.ma_sinh_vien}]",nil, false
          %td= sv.ma_sinh_vien
          %td= (sv.ho || "") + " " + (sv.ho_dem || "")
          %td= sv.ten
          %td= (sv.tin_chi ? true: false)