%input#loptc{:type => "hidden", :value => @loptc, :name => :loptc} 

%table#lophc.table.table-bordered.table-condensed.table-hover.table-striped
  %colgroup
    %col{:style => "width: 5%"}
    %col{:style => "width: 25%"}
    %col{:style => "width: 30%"}
    %col{:style => "width: 20%"}            
    %col{:style => "width: 15%"}  
    %col{:style => "width: 5%"}  
  %thead
    %td STT
    %td
      %input{:type=> "checkbox",:id=>"selectall"} Chọn hết
    %td Mã sinh viên
    %td Họ đệm
    %td Tên  
    %td Tín chỉ                       
  %tbody
    - if @svs and @svs.count > 0
      - @svs.each_with_index do |sv, index|
        %tr
          %td= (index+1).to_s
          %td= check_box_tag "msv[#{sv.ma_sinh_vien}]",nil, false, :class => "selectedId"
          %td= sv.ma_sinh_vien
          %td= sv.dem
          %td= sv.ten
          %td= (sv.tin_chi ? true : false)
  