.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls            
            %li= link_to "Quản lý", quanly_path          
            %li.active= link_to "Ghép lớp", quanlylopghep_path           
            %li= link_to "Nghỉ dạy", quanlynghiday_path       
            %li= link_to "Dạy bù", quanlydaybu_path       
            
          %ul.nav.pull-right            
            %li= link_to 'Đăng xuất', destroy_user_session_path
              

.container-fluid{:style=>"margin-top: 4%;"}     
  .row-fluid
    .span5
      .well.sidebar-nav.offset1{:style => "font-size: 12px;"}          
        .row-fluid 
          = form_tag filterlophc_path, :method => :post, :remote => true do                                 
            = submit_tag "Chọn lớp hành chính ", :class => "btn btn-primary"
            %br
            %br
            = collection_select(:sv, "lophanhchinh",  @lophcsv, :lop_hc, :lop_hc, {:selected => false}, {:class => "combobox", :placeholder => "Mã lớp hành chính"})    
            %hr
        .row-fluid
          = form_tag filtersv_path, :method => :post, :remote => true do                                 
            = submit_tag "Chọn Mã Sinh Viên", :class => "btn btn-primary"
            %br
            %br
            = collection_select(:sv, "masinhvien",  @msvs, :ma_sinh_vien, :to_s, {:selected => false}, {:class => "combobox", :placeholder => "Mã lớp hành chính"})    
    .span5.offset1
      .well.sidebar-nav{:style => "font-size: 12px;"}
        .row-fluid
          = form_tag filterloptc_path, :method => :post, :remote => true do                                   
            = submit_tag "Chọn lớp tín chỉ ", :class => "btn btn-primary"        
            %br
            %br
            = collection_select(:sv, "loptinchi",  @loptinchi, :id, :to_s, {:selected => false}, {:class => "combobox"})
  = form_tag movelopghep_path, :method => :post, :remote => true do           
    .row-fluid
      .well.sidebar-nav{:style => "font-size: 12px;"}
        %input#loptc{:type => "hidden", :value => @loptc, :name => :loptc} 
        %div#info            
  

  .span5
    = form_tag checklopghep_path, :method => :post, :remote => true do              
      .well.sidebar-nav{:style => "font-size: 12px;"}
        .row-fluid
          .span5.offset1= submit_tag "Kiểm tra", :class => "btn btn-primary", :name => :checksv, :id => :checksv               
        
      = render 'table1'    
  .span5.offset1
    #addsv
    #delsv
    = form_tag updatelopghep_path, :method => :post, :remote => true do    
      .well.sidebar-nav{:style => "font-size: 12px;"} 
        .row-fluid
          .span5.offset1= submit_tag "Xóa sinh viên khỏi lớp", :class => "btn btn-primary", :name => :putsv, :id => :putsv      
      %input#loptc{:type => "hidden", :value => @loptc, :name => :loptc}    
      = render 'table2'
          
            
            
          
