.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls            
            %li= link_to "Quản lý", quanly_path          
            %li.active= link_to "Lớp tách", quanlylopghep_path           
            
            
          %ul.nav.pull-right            
            %li= link_to 'Đăng xuất', destroy_user_session_path
              

.container-fluid{:style=>"margin-top: 4%;"}   
  .row-fluid  
    .span5
      = form_tag filterlophc_path, :method => :post, :remote => true do         
        %h6 Chọn lớp hành chính              
        .row-fluid                    
          = submit_tag "Lấy danh sách sinh viên", :class => "btn btn-primary"
        .row-fluid
          %br
          = collection_select(:sv, "lophanhchinh",  @lophcsv, :lop_hc, :lop_hc, {:selected => false}, {:class => "combobox"})
        
    .span5.offset2
      = form_tag filterloptc_path, :method => :post, :remote => true do         
        %h6 Chọn lớp tín chỉ                              
        .row-fluid
          = submit_tag "Lấy danh sách sinh viên", :class => "btn btn-primary"
        .row-fluid
          %br
          = collection_select(:sv, "loptinchi",  @loptinchi, :id, :to_s, {:selected => false}, {:class => "combobox"})
  = form_tag movelopghep_path, :method => :post, :remote => true do           
    .row-fluid
      .well.sidebar-nav{:style => "font-size: 12px;"}
        %input#loptc{:type => "hidden", :value => @loptc, :name => :loptc} 
        %div#info            

  .span5
    = form_tag checklopghep_path, :method => :post, :remote => true do              
      .row-fluid
        .span1.offset2= submit_tag "Kiểm tra", :class => "btn btn-primary", :name => :checksv, :id => :checksv               
        
      = render 'table1'    
  .span5
    = form_tag updatelopghep_path, :method => :post, :remote => true do     
      .row-fluid
        .span1.offset5= submit_tag "Xóa sinh viên khỏi lớp", :class => "btn btn-primary", :name => :putsv, :id => :putsv         
      = render 'table2'
          
            
            
          
