%table#monitor{:class => "table table-condensed"}
  %thead
    %td STT
    %td Mã sinh viên
    %td Họ đệm
    %td Tên              
    %td Tình hình vắng
    %td DiemCC   
    - if @lop_mon_hoc.get_thuc_hanh
      %td DiemTH   
    %td DiemKTTX
    %td DiemQT
  %tbody
    - @svs.each_with_index do |sv, index|
      %tr
        %td= (index+1).to_s
        %td= sv.ma_sinh_vien
        %td= sv.hodemdaydu
        %td= sv.ten          
        %td.progress  
          .bar.bar-danger{:style => "width: #{100 - sv.percent}%"}
          .bar.bar-success{:style => "width: #{sv.percent}%"}= sv.percent.to_s + "%"
        %td= (sv.diem_chuyen_can || sv.diemcc)
        - if @lop_mon_hoc.get_thuc_hanh
          %td= sv.convert_grade(sv.diem_thuc_hanh)
        %td= sv.diemtbkt
        %td= sv.diemqt