= form_for @lop_mon_hoc do |f|
  - if @lop_mon_hoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lop_mon_hoc.errors.count, "error")} prohibited this lop_mon_hoc from being saved:"
      %ul
        - @lop_mon_hoc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :ma_giang_vien
    = f.text_field :ma_giang_vien
  .field
    = f.label :ma_mon_hoc
    = f.text_field :ma_mon_hoc
  .field
    = f.label :nam_hoc
    = f.text_field :nam_hoc
  .field
    = f.label :hoc_ky
    = f.number_field :hoc_ky
  .field
    = f.label :so_tiet
    = f.number_field :so_tiet
  .field
    = f.label :so_tuan_hoc
    = f.number_field :so_tuan_hoc
  .field
    = f.label :ngay_bat_dau
    = f.datetime_select :ngay_bat_dau
  .field
    = f.label :ngay_ket_thuc
    = f.datetime_select :ngay_ket_thuc
  .field
    = f.label :phong_hoc
    = f.text_field :phong_hoc
  .actions
    = f.submit 'Save'
