%table#monitor{:class => "table table-condensed"}
  %colgroup
    %col{:style => "width: 3%"}
    %col{:style => "width: 12%"}
    %col{:style => "width: 20%"}
    %col{:style => "width: 15%"}                    
    %col{:style => "width: 15%"}                    
    %col{:style => "width: 15%"} 
  %thead
    %td STT
    %td Ca học
    %td Thời gian
    %td Họ và tên
    %td Mã sinh viên
    %td Lớp hành chính
  %tbody
    - if @lichtrucnhat
      - @lichtrucnhat.each_with_index do |row, index|
        %tr
          %td= (index+1).to_s
          %td= row[:ca].to_s
          %td= row[:time].strftime("%d/%m/%Y %Hh:%M")
          %td= row[:ho_va_ten]
          %td= row[:ma_sinh_vien]   
          %td= row[:lop_hc]