%p#notice= notice

%p
  %b Ma lop:
  = link_to @lop_mon_hoc.ma_lop, @lop_mon_hoc



  
%table{:class => "table"}
  %thead
  - @lichs.each do |lich|
    %td= lich[:thu]
  %tbody
  - @lichs.each do |lich|
    - lich[:lich].each do |li|
      %tr      
        %td= link_to li.strftime("%Y-%m-%d"), lop_mon_hoc_buoihoc_path(@lop_mon_hoc,li.strftime("%Y-%m-%d"))
  %br/
  	        
  
%br/

- @lop_mon_hoc.sinh_viens.each do |sv|
  = link_to sv.username, sv if sv.user
  = sv.ten unless sv.user
  %br/
%br/

\|
= link_to 'Back', root_path
