
.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls
            %li.active= link_to "Home", lop_mon_hoc_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'            
            %li= link_to "Diem chuyen can", lop_mon_hoc_diem_chuyen_cans_path(@lop_mon_hoc.id),  :'data-pjax' => '#pjax_container'            
            %li= link_to "Diem chi tiet", lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id),  :'data-pjax' => '#pjax_container'          
            %li= link_to "Thong Bao", lop_mon_hoc_thong_bao_lop_hocs_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'           
            %li= link_to "Nhom", lop_mon_hoc_lop_mon_hoc_sinh_viens_path(@lop_mon_hoc.id),  :'data-pjax' => '#pjax_container'
            %li= link_to "Calendar", lop_mon_hoc_path(@lop_mon_hoc.id)+'/calendar',  :'data-pjax' => '#pjax_container'

.container-fluid{:style=>"margin-top: 100px;"}    
  = form_tag lop_mon_hoc_path(@lop_mon_hoc.id), :method => :put, :remote => true do 
    = text_field_tag :so_nhom, @lop_mon_hoc.group, :placeholder => 'So nhom'
    = submit_tag "Update Nhom", :class => "btn btn-success" 
  %div#info
  %table{:class => "table table-condensed datatable"}
    %thead
      %td Ma Sinh Vien
      %td Ho dem
      %td Ten        
      %td Nhom
      %td Status
    %tbody
      - @svs.each do |sv|
        %tr
          %td= sv.ma_sinh_vien
          %td= sv.ho_dem
          %td= sv.ten
          %td= sv.group_id || 1
          %td.progress  
            .bar.bar-danger{:style => "width: #{(@dccs[sv.ma_sinh_vien] || 0)*100/(@dccs2[sv.ma_sinh_vien] || 1)}%"}                                        
            .bar.bar-success{:style => "width: #{100-(@dccs[sv.ma_sinh_vien] || 0)*100/(@dccs2[sv.ma_sinh_vien] || 1)}%"}= (100-(@dccs[sv.ma_sinh_vien] || 0)).to_s + "%"                                          
              