%p#notice= notice

%p
  %b Ma lop:
  = @lop_mon_hoc.ma_lop


- @lop_mon_hoc.sinh_viens.each do |sv|
  = link_to sv.username, sv if sv.user
  = sv.ten unless sv.user
  %br/
%br/
= link_to 'Edit', edit_lop_mon_hoc_path(@lop_mon_hoc)
\|
= link_to 'Back', lop_mon_hocs_path
