%table{:class => "table datatable"}
  %colgroup
    %col{:style => "width: 3%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 17%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 15%"}
    %col{:style => "width: 12%"}
    %col{:style => "width: 8%"}
    %col{:style => "width: 15%"}
  %thead
    %td STT
    %td Mã sinh viên
    %td Họ đệm
    %td Tên
    %td Lớp
    %td Tình hình vắng
    %td Số tiết vắng
    %td Phép
    %td Ghi chú
  %tbody      
    - @svs.each_with_index do |sv, index|
      %tr{:id => sv.ma_sinh_vien}
        %td= (index+1).to_s
        %td= sv.ma_sinh_vien
        %td= sv.hodemdaydu
        %td= sv.ten
        %td= sv.ma_lop_hanh_chinh
        %td.progress  
          .bar.bar-danger{:style => "width: #{((sv.so_tiet_vang if sv) || 0)*100/(@lop_mon_hoc.so_tiet || 1)}%"}                                        
          .bar.bar-success{:style => "width: #{100-((sv.so_tiet_vang if sv) || 0)*100/(@lop_mon_hoc.so_tiet || 1)}%"}= (100-(sv.so_tiet_vang || 0)).to_s + "%"
        %td= text_field_tag "msv[#{sv.ma_sinh_vien}][sotiet]", nil, :value => get_vang(@lop_mon_hoc,sv, @ngay),  :style => "width: 20%"
        %td= check_box_tag "msv[#{sv.ma_sinh_vien}][phep]",nil, get_phep(@lop_mon_hoc,sv, @ngay), :disabled =>  (get_vang(@lop_mon_hoc,sv, @ngay) == 0) 
        %td= text_field_tag "msv[#{sv.ma_sinh_vien}][note]", nil, :value => get_note(@lop_mon_hoc,sv, @ngay)