$("#buoihoc_sotiet").html("#{@lich.so_tiet_day_moi.to_s if @lich.so_tiet_day_moi}");
$("#buoihoc_phong").val("#{@lich.phong_moi if @lich.phong_moi}");
- if @error
  alert("Số tiết dạy không hợp lệ");  
- else  
  - if @svvang
    - @svvang.each do |v|  
      sosv = $("span#sovang");
      sosv.html("#{escape_javascript(@svvang.count.to_s)}")      
      $("#msv_#{v.ma_sinh_vien}_status").prop('checked', #{get_vang(@lich,v) > 0});
      $("#msv_#{v.ma_sinh_vien}_sotiet").val("#{get_vang(@lich, v)}");
      $("#msv_#{v.ma_sinh_vien}_phep").prop('disabled', false);
      s = $("table#svvang");
      s.empty();
      s.html("#{escape_javascript(render :partial => 'table1')}");      
  - if @kovang
    - @kovang.each do |v|
      :plain
        $("#msv_#{v.ma_sinh_vien}_status").prop('checked', false);
        $("#msv_#{v.ma_sinh_vien}_sotiet").val("0");
        $("#msv_#{v.ma_sinh_vien}_phep").prop('checked', false);
        $("#msv_#{v.ma_sinh_vien}_phep").prop('disabled', true);
  
  - if @errorsv    
    - @errorsv.each do |sv|
      $("tr##{sv}").addClass("error");
    :plain
      alert("Số tiết vắng không hợp lệ");
  - else
    :plain
      alert("Cập nhật thành công");
      $("tr.error").removeClass("error");
    