

    
.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
        .container.nav-collapse
          %ul.nav#urls
            %li= link_to "Home", lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
            %li= link_to "DiemDanh", diemdanh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
            %li.active= link_to "Edit", lichtrinh_edit_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")),  :'data-pjax' => '#pjax_container'
            

.container-fluid{:style => "margin-top:100px;"}
  %h4 So tiet
  = @lich.so_tiet_day
  %h4 Noi dung
  = raw @lich.noi_dung_day
  %h4 Nhan xet
  = raw @lich.nhan_xet_buoi_hoc
  

    