= form_tag update_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :method => :post, :remote => true do 
  .container-fluid
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
          .container.nav-collapse
            %ul.nav.pull-left#urls
              %li.active= link_to "Sổ đầu bài", lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
              %li= link_to "Điểm danh chi tiết", diemdanh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => 'pjax_container'         
              %li= link_to "Thông tin lớp", lop_mon_hoc_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'     
            %ul.nav.pull-right  
              %li= submit_tag "Cập nhật", :class =>"btn btn-success"     
              %li= link_to "Đăng xuất", destroy_user_session_path
  .container-fluid{:style=>"margin-top: 5%;"} 
    .row-fluid
      %ul.nav.pull-right
        %li
          %i
            %strong{:style => "font-size: 10px;"}= "Thứ " + @buoihoc["thu"].to_s + ", ngày " + DateTime.parse(@buoihoc["time"][0]).strftime("%d/%m") + ", " + DateTime.parse(@buoihoc["time"][0]).strftime("%Hh:%M")      
    
    .well.sidebar-nav{:style => "font-size: 12px;"}
      %strong Môn học: 
      %span= @buoihoc["ten_mon_hoc"]
      %strong.offset1 Giảng viên: 
      %span= @lop_mon_hoc.ten_giang_vien    
      %strong.offset1 Lớp:
      %span= @buoihoc["ma_lop"]
      %strong.offset1 Số tiết: 
      %span= @lop_mon_hoc.so_tiet
                          
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#tab2", :"data-toggle" => "tab"} Điểm danh:
        %li
          %a{:href => "#tab1", :"data-toggle" => "tab"} Nội dung giảng dạy: 
        
      .tab-content
        .tab-pane#tab1          
          .well.sidebar-nav{:style => "font-size: 12px;"}
            = @lich.score if @lich

          .well.sidebar-nav{:style => "font-size: 12px;"}
            

            = text_area_tag "buoihoc[noidung]", (@lich.noi_dung_day if @lich), :value => "#{(@lich.noi_dung_day if @lich)}", :class => 'redactor', :style => "width: 100%;", :rows => 4
              
            %strong.offset1 Phòng:  
            %span= text_field_tag "buoihoc[phong]", nil, :value => "#{(@lich.phong if @lich) || @buoihoc["phong"]}", :style => "width: 8%"
            %strong.offset1 Sĩ số: 
            %span= @svs.count
            %strong.offset1 Số sinh viên vắng mặt:  
            %span#sovang= @svvang.count
            %strong.offset1 Số tiết: 
            %span= text_field_tag "buoihoc[sotiet]", nil, :value => "#{(@lich.so_tiet_day if @lich) || @tkb.so_tiet}", :style => "width: 5%"
            %h6 Sinh vien vang mat:
            %table#svvang{:class => "table table-bordered table-condensed"}  
              = render :partial => 'table1'

        .tab-pane.active#tab2                  
          .well.sidebar-nav
            %table{:class => "table table-bordered table-condensed"}  
              %tbody    
                - @svs2.each_with_index do |svs, index|    
                  %tr{:class => (index%2==1 ? :warning: :success)}
                    - svs.each do |sv, i|      
                      %td
                        %div             
                          %p= sv.ho_dem + " " + sv.ten
                          %span= sv.ma_sinh_vien
                          %span= check_box_tag "msv[#{sv.ma_sinh_vien}]", nil, get_status(@lop_mon_hoc, sv, @ngay), :class => "drag"
        


