%h1 Buoihoc
%h2 Sinh vien vang

- @svs.each do |sv|
  = sv.ma_sinh_vien
  %br

= form_for [@lop_mon_hoc, DiemDanh.new], :url => {:controller => "diem_danhs" ,:action => "create"}, :remote => true do |f|
  = f.hidden_field :ngay_vang, {:value => @ngay.strftime("%Y-%m-%d")}
  = f.text_field :so_tiet_vang
  = f.collection_select  :sinh_vien, @svs, :ma_sinh_vien, :ten , :html => {:id => "msv"}
  = f.submit "Create"

%div{:id => "svvang"}

