= form_tag update_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :method => :post, :remote => true do 
  .container-fluid
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
          .container.nav-collapse
            %ul.nav.pull-left#urls
              %li.active= link_to "Home", lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
              %li= link_to "DiemDanh", diemdanh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
              %li= link_to "Lich Trinh", lichtrinh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")),  :'data-pjax' => '#pjax_container'
            %ul.nav.pull-right  
              %li= submit_tag "Update", :class =>"btn btn-success"     
  .container-fluid{:style=>"margin-top: 100px;"}
    %table{:class => "table table-bordered table-condensed datatable"}  
      %tbody    
        - @svs2.each_with_index do |svs, index|    
          %tr
          - svs.each do |sv, i|      
            %td
              %div             
                %p= sv[:ho_dem] + " " + sv[:ten]
                %span= text_field_tag "diem[#{sv[:ma_sinh_vien]}]", (sv[:diem_thuong_xuyen] || 0), {:style =>"width:30px;"}
                %p= sv[:ma_sinh_vien]              
                %span= check_box_tag "msv[#{sv[:ma_sinh_vien]}]",(sv[:so_tiet_vang] and sv[:so_tiet_vang] > 0 ? 'yes' : 'no'), (sv[:so_tiet_vang] and sv[:so_tiet_vang] > 0 ? true : false),:id => sv[:ma_sinh_vien]
  
= @svs
  
