= form_tag update_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :method => :post, :remote => true do 
  .container-fluid
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
          .container.nav-collapse
            %ul.nav.pull-left#urls
              %li.active= link_to "Home", lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => '#pjax_container'
              %li= link_to "DiemDanh", diemdanh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay.strftime("%Y-%m-%d-%H-%M")), :'data-pjax' => 'pjax_container'         
              %li= link_to "LopMon", lop_mon_hoc_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'     
            %ul.nav.pull-right  
              %li= submit_tag "Update", :class =>"btn btn-success"     
              %li= link_to "Log out", destroy_user_session_path
  .container-fluid{:style=>"margin-top: 10%;"} 
    %ul.nav.pull-right
      %li
        %i
          %strong= "Thứ " + @buoihoc["thu"].to_s + ", ngày " + DateTime.parse(@buoihoc["time"][0]).strftime("%d/%m") + ", " + DateTime.parse(@buoihoc["time"][0]).strftime("%Hh:%M")      
    %h4 Thong tin lop mon: 
    .well.sidebar-nav{:style => "font-size: 12px;"}
      %strong Mon hoc: 
      %span= @buoihoc["ten_mon_hoc"]
      %strong.offset1 Giao Vien:
      %span= @lop_mon_hoc.ten_giang_vien    
      %strong.offset1 Lop:
      %span= @buoihoc["ma_lop"]
      %strong.offset1 So tiet:
      %span= @lop_mon_hoc.so_tiet
                          
    %h4 Noi dung giang day: 
    .well.sidebar-nav{:style => "font-size: 12px;"}
      %div        
        = text_area_tag "buoihoc[noidung]", (@lich.noi_dung_day if @lich), :value => "#{(@lich.noi_dung_day if @lich)}", :style => "width: 100%;", :rows => 4
      %strong.offset1 Phong: 
      %span= text_field_tag "buoihoc[phong]", nil, :value => "#{(@lich.phong if @lich) || @buoihoc["phong"]}", :style => "width: 8%"
      %strong.offset1 Si so: 
      %span= @svs.count
      %strong.offset1 So sv vang mat: 
      %span#sovang= @vang.count
      %strong.offset1 So tiet: 
      %span= text_field_tag "buoihoc[sotiet]", nil, :value => "#{(@lich.so_tiet_day if @lich) || @buoihoc["sotiet"]}", :style => "width: 5%"
      %h6 Sinh vien vang mat:
      %ul#vang
        - if @vang
          - @vang.each do |v|
            %li= v.ma_sinh_vien
    %h4 Diem danh:
    .well.sidebar-nav
      %table{:class => "table table-bordered table-condensed"}  
        %tbody    
          - @svs2.each_with_index do |svs, index|    
            %tr
            - svs.each do |sv, i|      
              %td
                %div             
                  %p= sv[:ho_dem] + " " + sv[:ten]               
                  %span= sv[:ma_sinh_vien]              
                  %span= check_box_tag "msv[#{sv[:ma_sinh_vien]}]", nil, get_status(@lop_mon_hoc.ma_lop, @lop_mon_hoc.ma_mon_hoc, sv[:ma_sinh_vien], @ngay)
  
