%h1 Buoihoc "#{@ngay}"
%h2 Sinh vien vang

%div{:id => "status"}

= form_tag diemdanh_lop_mon_hoc_buoihoc_path(@lop_mon_hoc.id, @ngay), :method => :post, :remote => true do 
  %table
    %thead
      %td Ma Sinh Vien
      %td Ho va ten
      %td So tiet vang    
    %tbody
      - @svs.each do |sv|
        %tr
          %td= sv.ma_sinh_vien
          %td= sv.fullname
          %td= text_field_tag sv.ma_sinh_vien, sv.ma_sinh_vien, :value => sv.thong_tin_diem_danh(@malop, @ngay) 

  = submit_tag "Update"                


        


      

