%p#notice= notice

%p
  %b Ma giang vien:
  = @nghi_day.ma_giang_vien
%p
  %b Ma lop:
  = @nghi_day.ma_lop
%p
  %b Ma mon hoc:
  = @nghi_day.ma_mon_hoc
%p
  %b Nam hoc:
  = @nghi_day.nam_hoc
%p
  %b Hoc ky:
  = @nghi_day.hoc_ky
%p
  %b Ngay day:
  = @nghi_day.ngay_day
%p
  %b Phong:
  = @nghi_day.phong

= link_to 'Edit', edit_nghi_day_path(@nghi_day)
\|
= link_to 'Back', nghi_days_path
