= form_for @day_thay do |f|
  - if @day_thay.errors.any?
    #error_explanation
      %h2= "#{pluralize(@day_thay.errors.count, "error")} prohibited this day_thay from being saved:"
      %ul
        - @day_thay.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_giang_vien
    = f.text_field :ma_giang_vien
  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :ma_mon_hoc
    = f.text_field :ma_mon_hoc
  .field
    = f.label :nam_hoc
    = f.text_field :nam_hoc
  .field
    = f.label :hoc_ky
    = f.number_field :hoc_ky
  .field
    = f.label :ngay_day
    = f.datetime_select :ngay_day
  .field
    = f.label :phong
    = f.text_field :phong
  .actions
    = f.submit 'Save'
