= form_tag lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id)+'/2', :method => :post, :remote => true do 
  .container-fluid
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/", :'data-pjax' => '#pjax_container' } HPU
          .container.nav-collapse
            %ul.nav.pull-left#urls
              %li= link_to "Home", lop_mon_hoc_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'            
              %li= link_to "Diem chuyen can", lop_mon_hoc_diem_chuyen_cans_path(@lop_mon_hoc.id),  :'data-pjax' => '#pjax_container'            
              %li{:class => (params[:loai] == '1'? 'active' : '')}= link_to "Diem thuc hanh", lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id) + '/1',  :'data-pjax' => '#pjax_container'
              %li{:class => (params[:loai] == '2'? 'active' : '')}= link_to "Diem kiem tra", lop_mon_hoc_diem_chi_tiets_path(@lop_mon_hoc.id) + '/2',  :'data-pjax' => '#pjax_container'
              %li= link_to "Thong Bao", lop_mon_hoc_thong_bao_lop_hocs_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'
              %li= link_to "Tai lieu", lop_mon_hoc_tai_lieu_mon_hocs_path(@lop_mon_hoc.id),  :'data-pjax' => '#pjax_container'
            %ul.nav.pull-right
              %li= submit_tag "Update", :class => "btn btn-success" 
              
  .container-fluid{:style=>"margin-top: 100px;"}    
    %table{:class => "table datatable"}
      %thead
        %td Ma Sinh Vien
        %td Ho dem
        %td Ten     
        %td Lan 1   
        %td Lan 2   
        %td Lan 3   
      %tbody
        - @svs.each do |sv|
          %tr
            %td= sv[:ma_sinh_vien]
            %td= sv[:ho_dem]
            %td= sv[:ten]                      
            %td= text_field_tag "msv_1_" + sv[:ma_sinh_vien], sv[:ma_sinh_vien], :value => @dct.where(ma_sinh_vien: sv[:ma_sinh_vien], lan: 1).first.try(:diem) || "", :class => "span1"
            %td= text_field_tag "msv_2_" + sv[:ma_sinh_vien], sv[:ma_sinh_vien], :value => @dct.where(ma_sinh_vien: sv[:ma_sinh_vien], lan: 2).first.try(:diem) || "", :class => "span1", :readonly => true
            %td= text_field_tag "msv_3_" + sv[:ma_sinh_vien], sv[:ma_sinh_vien], :value => @dct.where(ma_sinh_vien: sv[:ma_sinh_vien], lan: 3).first.try(:diem) || "", :class => "span1", :readonly => true