%p#notice= notice

%p
  %b Ma sinh vien:
  = @diem_chi_tiet.ma_sinh_vien
%p
  %b Ma lop:
  = @diem_chi_tiet.ma_lop
%p
  %b Ma mon hoc:
  = @diem_chi_tiet.ma_mon_hoc
%p
  %b Nam hoc:
  = @diem_chi_tiet.nam_hoc
%p
  %b Hoc ky:
  = @diem_chi_tiet.hoc_ky
%p
  %b Diem:
  = @diem_chi_tiet.diem
%p
  %b Loai diem:
  = @diem_chi_tiet.loai_diem
%p
  %b Lan:
  = @diem_chi_tiet.lan

= link_to 'Edit', edit_diem_chi_tiet_path(@diem_chi_tiet)
\|
= link_to 'Back', diem_chi_tiets_path
