%h1 Listing lich_trinh_giang_days

%table
  %tr
    %th Ma lop
    %th Ma mon hoc
    %th Nam hoc
    %th Hoc ky
    %th Ngay day
    %th Noi dung day
    %th So tiet day
    %th Nhan xet buoi hoc
    %th Phong
    %th Xac nhan sv
    %th
    %th
    %th

  - @lich_trinh_giang_days.each do |lich_trinh_giang_day|
    %tr
      %td= lich_trinh_giang_day.ma_lop
      %td= lich_trinh_giang_day.ma_mon_hoc
      %td= lich_trinh_giang_day.nam_hoc
      %td= lich_trinh_giang_day.hoc_ky
      %td= lich_trinh_giang_day.ngay_day
      %td= lich_trinh_giang_day.noi_dung_day
      %td= lich_trinh_giang_day.so_tiet_day
      %td= lich_trinh_giang_day.nhan_xet_buoi_hoc
      %td= lich_trinh_giang_day.phong
      %td= lich_trinh_giang_day.xac_nhan_sv
      %td= link_to 'Show', lich_trinh_giang_day
      %td= link_to 'Edit', edit_lich_trinh_giang_day_path(lich_trinh_giang_day)
      %td= link_to 'Destroy', lich_trinh_giang_day, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lich trinh giang day', new_lich_trinh_giang_day_path
