%p#notice= notice

%p
  %b Ma lop:
  = @lich_trinh_giang_day.ma_lop
%p
  %b Ma mon hoc:
  = @lich_trinh_giang_day.ma_mon_hoc
%p
  %b Nam hoc:
  = @lich_trinh_giang_day.nam_hoc
%p
  %b Hoc ky:
  = @lich_trinh_giang_day.hoc_ky
%p
  %b Ngay day:
  = @lich_trinh_giang_day.ngay_day
%p
  %b Noi dung day:
  = @lich_trinh_giang_day.noi_dung_day
%p
  %b So tiet day:
  = @lich_trinh_giang_day.so_tiet_day
%p
  %b Nhan xet buoi hoc:
  = @lich_trinh_giang_day.nhan_xet_buoi_hoc
%p
  %b Phong:
  = @lich_trinh_giang_day.phong
%p
  %b Xac nhan sv:
  = @lich_trinh_giang_day.xac_nhan_sv

= link_to 'Edit', edit_lich_trinh_giang_day_path(@lich_trinh_giang_day)
\|
= link_to 'Back', lich_trinh_giang_days_path
