%h1 Listing ra_som_vao_muons

%table
  %tr
    %th Ma giang vien
    %th Ma lop
    %th Ma mon hoc
    %th Nam hoc
    %th Hoc ky
    %th Ngay day
    %th Loai
    %th Phong
    %th Tiet
    %th
    %th
    %th

  - @ra_som_vao_muons.each do |ra_som_vao_muon|
    %tr
      %td= ra_som_vao_muon.ma_giang_vien
      %td= ra_som_vao_muon.ma_lop
      %td= ra_som_vao_muon.ma_mon_hoc
      %td= ra_som_vao_muon.nam_hoc
      %td= ra_som_vao_muon.hoc_ky
      %td= ra_som_vao_muon.ngay_day
      %td= ra_som_vao_muon.loai
      %td= ra_som_vao_muon.phong
      %td= ra_som_vao_muon.tiet
      %td= link_to 'Show', ra_som_vao_muon
      %td= link_to 'Edit', edit_ra_som_vao_muon_path(ra_som_vao_muon)
      %td= link_to 'Destroy', ra_som_vao_muon, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ra som vao muon', new_ra_som_vao_muon_path
