= form_for @kien_nghi do |f|
  - if @kien_nghi.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kien_nghi.errors.count, "error")} prohibited this kien_nghi from being saved:"
      %ul
        - @kien_nghi.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_sinh_vien
    = f.text_field :ma_sinh_vien
  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :ma_mon_hoc
    = f.text_field :ma_mon_hoc
  .field
    = f.label :noi_dung
    = f.text_area :noi_dung
  .field
    = f.label :nam_hoc
    = f.text_field :nam_hoc
  .field
    = f.label :hoc_ky
    = f.number_field :hoc_ky
  .field
    = f.label :nhom_id
    = f.number_field :nhom_id
  .field
    = f.label :trang_thai
    = f.check_box :trang_thai
  .actions
    = f.submit 'Save'
