%h1 Listing kien_nghis

%table
  %tr
    %th Ma sinh vien
    %th Ma lop
    %th Ma mon hoc
    %th Noi dung
    %th Nam hoc
    %th Hoc ky
    %th Nhom
    %th Trang thai
    %th
    %th
    %th

  - @kien_nghis.each do |kien_nghi|
    %tr
      %td= kien_nghi.ma_sinh_vien
      %td= kien_nghi.ma_lop
      %td= kien_nghi.ma_mon_hoc
      %td= kien_nghi.noi_dung
      %td= kien_nghi.nam_hoc
      %td= kien_nghi.hoc_ky
      %td= kien_nghi.nhom_id
      %td= kien_nghi.trang_thai
      %td= link_to 'Show', kien_nghi
      %td= link_to 'Edit', edit_kien_nghi_path(kien_nghi)
      %td= link_to 'Destroy', kien_nghi, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Kien nghi', new_kien_nghi_path
