%table{:class => "table table-bordered table-condensed"}
  %colgroup
    %col{:style => "width: 3%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 17%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 10%"}
    %col{:style => "width: 15%"}
    %col{:style => "width: 12%"}
    %col{:style => "width: 8%"}
    %col{:style => "width: 15%"}
  %thead
    %td STT
    %td Mã sinh viên
    %td Họ đệm
    %td Tên   
    %td Lớp                  
    %td Tình hình vắng
    %td Có phép
    %td Tổng số vắng        
    %td Điểm chuyên cần (Thang 4) 
  %tbody
    - @svs.each_with_index do |sv, index|
      %tr
        %td= (index+1).to_s
        %td= sv.ma_sinh_vien            
        %td= sv.hodemdaydu
        %td= sv.ten  
        %td= sv.ma_lop_hanh_chinh
        %td.progress  
          .bar.bar-danger{:style => "width: #{dc(@lop_mon_hoc, sv)}%"}                                        
          .bar.bar-success{:style => "width: #{100-dc(@lop_mon_hoc, sv)}%"}= (100 - dc(@lop_mon_hoc, sv).round(2)).to_s + "%"                               
        %td= sv.so_vang_co_phep || 0
        %td= sv.so_tiet_vang ||0            
        %td= text_field_tag "msv[#{sv.ma_sinh_vien}", nil, :value => sv.diem_chuyen_can || sv.diemcc || "", :style => "width: 20px;"