= form_for @diem_chuyen_can do |f|
  - if @diem_chuyen_can.errors.any?
    #error_explanation
      %h2= "#{pluralize(@diem_chuyen_can.errors.count, "error")} prohibited this diem_chuyen_can from being saved:"
      %ul
        - @diem_chuyen_can.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_sinh_vien
    = f.text_field :ma_sinh_vien
  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :ma_mon_hoc
    = f.text_field :ma_mon_hoc
  .field
    = f.label :nam_hoc
    = f.text_field :nam_hoc
  .field
    = f.label :hoc_ky
    = f.number_field :hoc_ky
  .field
    = f.label :tong_so_tiet
    = f.number_field :tong_so_tiet
  .field
    = f.label :tong_so_tiet_vang
    = f.number_field :tong_so_tiet_vang
  .field
    = f.label :diem
    = f.number_field :diem
  .actions
    = f.submit 'Save'
