%h1 Listing can_bo_lops

%table
  %tr
    %th Ma sinh vien
    %th Ma lop
    %th Ma mon hoc
    %th Nam hoc
    %th Hoc ky
    %th
    %th
    %th

  - @can_bo_lops.each do |can_bo_lop|
    %tr
      %td= can_bo_lop.ma_sinh_vien
      %td= can_bo_lop.ma_lop
      %td= can_bo_lop.ma_mon_hoc
      %td= can_bo_lop.nam_hoc
      %td= can_bo_lop.hoc_ky
      %td= link_to 'Show', can_bo_lop
      %td= link_to 'Edit', edit_can_bo_lop_path(can_bo_lop)
      %td= link_to 'Destroy', can_bo_lop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Can bo lop', new_can_bo_lop_path
