= form_for @nhat_ky do |f|
  - if @nhat_ky.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nhat_ky.errors.count, "error")} prohibited this nhat_ky from being saved:"
      %ul
        - @nhat_ky.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_nguoi_dung
    = f.text_field :ma_nguoi_dung
  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :noi_dung
    = f.text_area :noi_dung
  .field
    = f.label :thoi_gian
    = f.datetime_select :thoi_gian
  .actions
    = f.submit 'Save'
