%h1 Listing nhat_kies

%table
  %tr
    %th Ma nguoi dung
    %th Ma lop
    %th Noi dung
    %th Thoi gian
    %th
    %th
    %th

  - @nhat_kies.each do |nhat_ky|
    %tr
      %td= nhat_ky.ma_nguoi_dung
      %td= nhat_ky.ma_lop
      %td= nhat_ky.noi_dung
      %td= nhat_ky.thoi_gian
      %td= link_to 'Show', nhat_ky
      %td= link_to 'Edit', edit_nhat_ky_path(nhat_ky)
      %td= link_to 'Destroy', nhat_ky, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nhat ky', new_nhat_ky_path
