%p#notice= notice

%p
  %b Ma nguoi dung:
  = @nhat_ky.ma_nguoi_dung
%p
  %b Ma lop:
  = @nhat_ky.ma_lop
%p
  %b Noi dung:
  = @nhat_ky.noi_dung
%p
  %b Thoi gian:
  = @nhat_ky.thoi_gian

= link_to 'Edit', edit_nhat_ky_path(@nhat_ky)
\|
= link_to 'Back', nhat_kies_path
