= form_for @sinh_vien do |f|
  - if @sinh_vien.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sinh_vien.errors.count, "error")} prohibited this sinh_vien from being saved:"
      %ul
        - @sinh_vien.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_sinh_vien
    = f.text_field :ma_sinh_vien
  .field
    = f.label :ho_dem
    = f.text_field :ho_dem
  .field
    = f.label :ten
    = f.text_field :ten
  .field
    = f.label :ngay_sinh
    = f.date_select :ngay_sinh
  .field
    = f.label :gioi_tinh
    = f.check_box :gioi_tinh
  .field
    = f.label :lop_hc
    = f.text_field :lop_hc
  .field
    = f.label :ma_khoa_hoc
    = f.text_field :ma_khoa_hoc
  .field
    = f.label :ma_he_dao_tao
    = f.text_field :ma_he_dao_tao
  .field
    = f.label :ma_nganh
    = f.text_field :ma_nganh
  .actions
    = f.submit 'Save'
