- if @grid
  %table{:class => "table"}	  
    %thead
      %td= ""
      - @grid.column_headers.each do |c|
        %td= "Tuần #{c}"    
    %tbody          
      - @grid.rows.each do |row|
        %td= row.header
        - row.data.each do |data|
          %td= data.so_tiet_vang

