%p#notice= notice

%p
  %b Ma sinh vien:
  = @sinh_vien.ma_sinh_vien
%p
  %b Ho dem:
  = @sinh_vien.ho_dem
%p
  %b Ten:
  = @sinh_vien.ten
%p
  %b Ngay sinh:
  = @sinh_vien.ngay_sinh
%p
  %b Gioi tinh:
  = @sinh_vien.gioi_tinh
%p
  %b Lop hc:
  = @sinh_vien.lop_hc
%p
  %b Ma khoa hoc:
  = @sinh_vien.ma_khoa_hoc
%p
  %b Ma he dao tao:
  = @sinh_vien.ma_he_dao_tao
%p
  %b Ma nganh:
  = @sinh_vien.ma_nganh

= link_to 'Edit', edit_sinh_vien_path(@sinh_vien)
\|
= link_to 'Back', sinh_viens_path
