= form_for @giang_vien do |f|
  - if @giang_vien.errors.any?
    #error_explanation
      %h2= "#{pluralize(@giang_vien.errors.count, "error")} prohibited this giang_vien from being saved:"
      %ul
        - @giang_vien.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ho_ten
    = f.text_field :ho_ten
  .field
    = f.label :hoc_vi
    = f.text_field :hoc_vi
  .field
    = f.label :hoc_ham
    = f.text_field :hoc_ham
  .field
    = f.label :ma_don_vi
    = f.text_field :ma_don_vi
  .field
    = f.label :ma_loai
    = f.text_field :ma_loai
  .field
    = f.label :ma_giang_vien
    = f.text_field :ma_giang_vien
  .actions
    = f.submit 'Save'
