%h1 Listing giang_viens

%table
  %tr
    %th Ho ten
    %th Hoc vi
    %th Hoc ham
    %th Ma don vi
    %th Ma loai
    %th Ma giang vien
    %th
    %th
    %th

  - @giang_viens.each do |giang_vien|
    %tr
      %td= giang_vien.ho_ten
      %td= giang_vien.hoc_vi
      %td= giang_vien.hoc_ham
      %td= giang_vien.ma_don_vi
      %td= giang_vien.ma_loai
      %td= giang_vien.ma_giang_vien
      %td= link_to 'Show', giang_vien
      %td= link_to 'Edit', edit_giang_vien_path(giang_vien)
      %td= link_to 'Destroy', giang_vien, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Giang vien', new_giang_vien_path
