= form_for @tai_lieu_mon_hoc do |f|
  - if @tai_lieu_mon_hoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tai_lieu_mon_hoc.errors.count, "error")} prohibited this tai_lieu_mon_hoc from being saved:"
      %ul
        - @tai_lieu_mon_hoc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ma_giang_vien
    = f.text_field :ma_giang_vien
  .field
    = f.label :ma_lop
    = f.text_field :ma_lop
  .field
    = f.label :ma_mon_hoc
    = f.text_field :ma_mon_hoc
  .field
    = f.label :noi_dung
    = f.text_area :noi_dung
  .field
    = f.label :nam_hoc
    = f.text_field :nam_hoc
  .field
    = f.label :hoc_ky
    = f.number_field :hoc_ky
  .actions
    = f.submit 'Save'
