%p#notice= notice

%p
  %b Ma giang vien:
  = @tai_lieu_mon_hoc.ma_giang_vien
%p
  %b Ma lop:
  = @tai_lieu_mon_hoc.ma_lop
%p
  %b Ma mon hoc:
  = @tai_lieu_mon_hoc.ma_mon_hoc
%p
  %b Noi dung:
  = @tai_lieu_mon_hoc.noi_dung
%p
  %b Nam hoc:
  = @tai_lieu_mon_hoc.nam_hoc
%p
  %b Hoc ky:
  = @tai_lieu_mon_hoc.hoc_ky

= link_to 'Edit', edit_tai_lieu_mon_hoc_path(@tai_lieu_mon_hoc)
\|
= link_to 'Back', tai_lieu_mon_hocs_path
