= form_for [@lop_mon_hoc,@thong_bao_lop_hoc], :html => { :multipart => true } do |f|
  - if @thong_bao_lop_hoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thong_bao_lop_hoc.errors.count, "error")} prohibited this thong_bao_lop_hoc from being saved:"
      %ul
        - @thong_bao_lop_hoc.errors.full_messages.each do |msg|
          %li= msg
 
  .field
    = f.label :noi_dung
    = f.text_area :noi_dung, :class => 'ckeditor' 
  
  %input{:type=>"hidden", :value=>@lop_mon_hoc.ma_lop, :name=>"thong_bao_lop_hoc[ma_lop]"}
  %input{:type=>"hidden", :value=>@lop_mon_hoc.ma_mon_hoc, :name=>"thong_bao_lop_hoc[ma_mon_hoc]"}
  %input{:type=>"hidden", :value=>@lop_mon_hoc.ma_giang_vien, :name=>"thong_bao_lop_hoc[ma_giang_vien]"}

  .actions
    = f.submit 'Save', :class => "btn primary"
