.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls            
            %li= link_to "Thông tin chung", lop_mon_hoc_path(@lop_mon_hoc.id)       
            %li.dropdown
              = render 'lop_mon_hoc_sinh_viens/menu'
            %li.dropdown.active
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"} 
                - if can? :manage, @lop_mon_hoc
                  Quản lý 
                - else
                  Tiện ích
                %b.caret
              %ul.dropdown-menu
                %li.active= link_to "Thông báo", lop_mon_hoc_thong_bao_lop_hocs_path(@lop_mon_hoc.id), :'data-pjax' => '#pjax_container'    
                %li= link_to "Diễn đàn", lop_mon_hoc_topics_path(@lop_mon_hoc.id)
                %li= link_to "Quản lý lớp học", lop_mon_hoc_lop_mon_hoc_sinh_viens_path(@lop_mon_hoc.id)
                %li= link_to "Thời khóa biểu", lop_mon_hoc_path(@lop_mon_hoc.id)+'/calendar'

          %ul.nav.pull-right
            - if can? :manage, @lop_mon_hoc
              %li= link_to 'Thông báo mới', new_lop_mon_hoc_thong_bao_lop_hoc_path(@lop_mon_hoc)
            %li= link_to 'Đăng xuất', destroy_user_session_path

.container-fluid{:style=>"margin-top: 4%;"}    
  
  %table{:class => "table table-condensed datatable"}
    %thead      
      %td Thời gian
      %td Nội dung
      - if can? :manage, @lop_mon_hoc       
        %td Sửa
        %td Xóa
    %tbody
      - @thong_bao_lop_hocs.each do |thong_bao_lop_hoc|
        %tr                                  
          %td= link_to thong_bao_lop_hoc.created_at, [@lop_mon_hoc,thong_bao_lop_hoc] 
          - if can? :manage, @lop_mon_hoc
            %td= best_in_place thong_bao_lop_hoc ,:noi_dung, :path => [@lop_mon_hoc, thong_bao_lop_hoc]
          - else
            %td= raw(thong_bao_lop_hoc)
          - if can? :manage, @lop_mon_hoc
            %td= link_to 'Sửa', edit_lop_mon_hoc_thong_bao_lop_hoc_path(@lop_mon_hoc,thong_bao_lop_hoc)
            %td= link_to 'Xóa', [@lop_mon_hoc,thong_bao_lop_hoc], :method => :delete, :data => { :confirm => 'Bạn có chắc muốn xóa thông báo này?' }


