%p#notice= notice

%p
  %b Ma giang vien:
  = @thong_bao_lop_hoc.ma_giang_vien
%p
  %b Ma lop:
  = @thong_bao_lop_hoc.ma_lop
%p
  %b Ma mon hoc:
  = @thong_bao_lop_hoc.ma_mon_hoc
%p
  %b Noi dung:
  = @thong_bao_lop_hoc.noi_dung
%p
  %b Nam hoc:
  = @thong_bao_lop_hoc.nam_hoc
%p
  %b Hoc ky:
  = @thong_bao_lop_hoc.hoc_ky
%p
  %b Thoi gian:
  = @thong_bao_lop_hoc.thoi_gian

= link_to 'Edit', edit_thong_bao_lop_hoc_path(@thong_bao_lop_hoc)
\|
= link_to 'Back', thong_bao_lop_hocs_path
