%p#notice= notice

%p
  %b Noi dung:
  = raw(@thong_bao_lop_hoc.noi_dung)
%p
  %b Nam hoc:
  = @thong_bao_lop_hoc.nam_hoc
%p
  %b Thoi gian:
  = @thong_bao_lop_hoc.thoi_gian

= link_to 'Edit', edit_lop_mon_hoc_thong_bao_lop_hoc_path(@lop_mon_hoc,@thong_bao_lop_hoc)
\|
= link_to 'Back', lop_mon_hoc_thong_bao_lop_hocs_path(@lop_mon_hoc)
