%p#notice= notice

%p
  %b Ma giang vien:
  = @tkb_giang_vien.ma_giang_vien
%p
  %b Ma lop:
  = @tkb_giang_vien.ma_lop
%p
  %b Ma mon hoc:
  = @tkb_giang_vien.ma_mon_hoc
%p
  %b Phong:
  = @tkb_giang_vien.phong
%p
  %b Nam hoc:
  = @tkb_giang_vien.nam_hoc
%p
  %b Hoc ky:
  = @tkb_giang_vien.hoc_ky
%p
  %b Tuan hoc bat dau:
  = @tkb_giang_vien.tuan_hoc_bat_dau
%p
  %b So tuan:
  = @tkb_giang_vien.so_tuan
%p
  %b Ngay bat dau:
  = @tkb_giang_vien.ngay_bat_dau
%p
  %b Ngay ket thuc:
  = @tkb_giang_vien.ngay_ket_thuc
%p
  %b So tiet:
  = @tkb_giang_vien.so_tiet
%p
  %b Tiet bat dau:
  = @tkb_giang_vien.tiet_bat_dau
%p
  %b Thu:
  = @tkb_giang_vien.thu

= link_to 'Edit', edit_tkb_giang_vien_path(@tkb_giang_vien)
\|
= link_to 'Back', tkb_giang_viens_path
